<!DOCTYPE html>
<html lang="en">
  <head profile="images.1/appIcon.png">
    <%- include('./partials/header.ejs')%>
    <title>About</title>
  </head>
<body style="background-color: black;" id="body">
        <!--nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3 about-nav" > <!--fixed-top-->
            <div class="container-fluid" style="text-transform: uppercase;">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="#">about</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/categories">categories</a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link" href="/support">contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                  </li>
 
                
                </ul>
            
              </div>
              <a class="navbar-brand ms-auto" href="#" id="right-side">Conspi Archive</a>
            </div>
        </nav>

<!--Welcome-->


<div class="bg-image index-bg-img d-flex align-items-center" 
style="background-image: url('images.1/gabriel-h73jxsQwecc-unsplash.jpg');
height: 100vh ; width: 100vw">

    <div class="container p-5 p-lg-0 pt-lg-5 text-sm-start text-light pb-lg-5 d-flex">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div class="row align-items-center " >
            
            
              <div class="mx-4 my-5 col conspi-header lead text-start">
                <h1 class="line-1 anim-typewriter" style="font-size: 2.5rem;">Something About Us </h1>
                <p class="my-4 subtitle-about" style="font: size 7vw; color: transparent;">
                    An idea turned to reality
                </p>


              </div>
          </div>
        </div>
    </div>
</div>





        <!--origin-->
<section class=" text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start oferta p-lg-5 about-us-section about-main">
  <div class="container my-lg-5 my-4">
    <div class="d-sm-flex align-items-center justify-content-between">
      
      <img class="img-fluid w-50 d-none d-sm-block rounded-3" src="images.1/IMG_0306.jpg" alt="" >
      
      <div class="mx-4">
        <h1 class="my-2 pb-4">The <span class="text-danger">Origin</span> of the Website</h1>
        
        <p class="text-light">So first off , this was more made as a joke project to learn some basic front end web dev and such.

          This goes to say however that we'll definetly continue on working and expanding the Website.</p>
      </div>
    
    </div>
  </div>
</section>

<!--ABOUT US-->

<section class=" p-5 p-lg-0 pt-lg-5 pb-lg-5 text-center text-sm-start about-us-section  text-light about-main ab-bg-img " style="background-color: black;" >
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      

      
      <div class="mx-4">
        <h1 class="my-4"><span class="text-danger"> Some</span> things to know</h1>
        <p class="lead">
          This site was made with the purpose of being able to give fairly short explanations in the form of small-sized articles regarding more or less known conspiracy theories to help give a rough understanding of your desired subject
        </p>

        <p class="lead">
          All sources from where the information regarding a certain article stems from will be given below together with good links if someone wishes to expand their knowledge of a subject further than what we provide
        </p>

        <p class="lead">
          We will try to keep the site often updated with new and interesting features that should serve to further expand your experience here
        </p>

        <p class="lead">
          We also have a working full API , for more info visit <a href="/api" class="link-danger">'/api'</a>
        </p>

      </div>

    </div>
  </div>
</section>


<!--Afterword-->
<section class=" text-light p-5 p-lg-0 pt-lg-5 pb-lg-5 text-center text-sm-start about-main" style="background-color: black;">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      
      <img class="img-fluid w-50 d-none d-sm-block" src="images.1/IMG_0310.png" alt="" >
      
      <div class="mx-4">
        <h1>After<span class="text-danger">word</span></h1>
        <p class="lead my-4">
          Since this is our first large project some issues are definetly inevitable so if you encounter a mistake/bug please check the support/contact section
        </p>

      </div>
    
    </div>
  </div>
</section>

<!--Team-->
<div id="sectionn"></div>
<section id="team " class="p-5 bg-light about-us-section text-light about-main ab-bg-img" style="background-image: url('images.1/ourTeam.png');
; width: 100vw" >
  <div class="container  my-3"  >
    <h1 class="text-center"><span class="text-danger">Our</span> Team</h1>
    <p class="lead text-center mb-5">Meet our reliable teammates</p>
    <div class="row g-4 text-light">
      
      
      <!--after uploading all member into db just delete lower divs leaving only this snippet-->
      <% members.reverse().forEach(function(member) { %>
        <div class=" col-sm col-lg-4   d-flex">
          <div class="card" style="background-color: black;">
            <div class="card-body text-center flex-fill text-tru">
              <img src="data:image/<%=member.img.contentType%>;base64,
              <%=member.img.data.toString('base64')%>" class="rounded-circle" alt="" style="width: 128px; height: 128px;">              
              <h3 class="card-title mb3"><%= member.name %></h3>
              <p class="card-text">
                <%= member.desc %>
  
              </p>
              
              <a href="<%= member.links.github %> " target="_blank"><i class="bi bi-github text-light mx-1"></i></a>
  
              <a href="<%= member.links.instagram %>"><i class="bi bi-instagram text-light mx-1"></i></a>
            
            </div>
          </div>
        </div>
      
      <% }) %> 




    
    
    
    
    </div>
  
  </div>
</section>
  <%- include('./partials/footer.ejs')%>
  <%- include('./partials/scripts.ejs')%>

</body>
</html>